.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* css for guitar image change */

.guitar-image-container {
  position: relative;
  width: 100%;
  max-width: 388px;
}

.guitar-front, .guitar-back {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
}

.guitar-front {
  opacity: 1;
}

.guitar-back {
  opacity: 0;
}

.guitar-image-container:hover .guitar-front {
  opacity: 0;
}

.guitar-image-container:hover .guitar-back {
  opacity: 1;
}

@media (max-width: 1024px) {
  .guitar-image-container {
    cursor: pointer;
  }

  .guitar-image-container.clicked .guitar-front {
    opacity: 0;
  }

  .guitar-image-container.clicked .guitar-back {
    opacity: 1;
  }
}

